@import-normalize;

ul, li {
    list-style: none;
}

html, body, #root {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
input, span, div, p, li, ul, button {
    box-sizing: border-box;
}

#messages-container {
    overflow-y: scroll;
    height: 60vh;
}